
 body{
    background-color:white;
    color: black;
    list-style: none;
    margin: 0;
    padding: 0;

 }

 *{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
 }
 header ul li a{
    color: white;
 }

header{
    display: flex;
    justify-content: space-around;
    /* border-bottom: 0.1px solid goldenrod; */
    height: 5rem;
    align-items: center;
   
    
}

.heading{
    position: fixed; 
    width: 100%;
    z-index: 999;
    background-color: black;
    color:white;
}

header a{
    color:black;
}

header label{
    font-size: 1.42rem;
    font-weight: 700;
    font-style: italic;
}

.heading label:first-letter{
    font-size: 3rem;
    color: var(---main-color);
    color: white;
}



header ul {
    display: flex;
    justify-content: space-between;
    gap:2rem;
    font-weight: 600;
}


.fa-times{
    color:black;
    display: none;
    
}



.fa-bars{
    display: none;
}


/***root****************/
:root{
   --primary-color:  rgb(69, 202, 246);
   ---main-color: rgb(69, 202, 246);
   --alternative-color:rgb(33, 32, 31);
   --mobile-font:0.8rem;
   ---icon-color:rgb(184, 201, 249);
}

.show-mode{
    display: none;
}

@media(max-width:878px){
    header ul{
        text-align: left;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        top:70px;
        left:-100%;
        background-color:var(--alternative-color);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width:100%;
        height: 58vh;
        gap:1rem;
        padding:4rem 10px;
        font-size: 1rem;
        transition: 0.9s;
        z-index: 999;
        /* border: 2px solid red; */
        border-bottom: none;  
    }

    header a{
        color:white

    }


    .show-mode{
        display: block;
        background-color: rgb(30, 28, 28);
        
        
    }

    .fa-times{
        display: block;
        color: white;
        
    }

    ul .show-mode li{
        line-height: 2.4rem;
        gap: 2rem;
        
    
    }

    .show-mode h4{
        color: rgb(14, 13, 13);;
        margin-left: 1.2rem;
    }



    .show-mode a{
        color: rgb(184, 172, 172);
        font-weight: bold;
    }


    header label:first-letter{
        font-size: 2rem;
        
    }
    
    


    header label{
        font-size: 1rem;
        
    }


    
     header button{
        
        align-items: center;
        margin-top: 0.6rem;
        
     }

    header .fa-bars{
        display: block;
        color:white;
        font-size: 1.4rem;
        cursor: pointer;
    }


    header .fa-times{
        color:white;
        position: absolute;
        top:5px;
        right:12px;
        font-size:1.99rem;
        cursor:pointer;

    }

    body{
        color:black;
    }

    .active2{
        left: 0;
        transition: 0.9s;
    }

   

}



/******section-1 slider`********/
.slider{
    overflow: hidden;
    width:100%;
    height:90vh;
}

.slider figure p{
       
     color:white;  
    position: absolute;
    /* border: 2px solid red; */
    z-index: 999;
    top: 50vh;
    left: 4vh;
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
    font-weight: 900;
    background-color: black;
    padding: 1rem 7px;
    
}




.slider figure div{
    float:left;
    width:20%;
    position: relative;
}

.slider figure img{
    width:100%; 
    height: 90vh;
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;

}

.slider figure{
    position: relative;
    width:500%;
    margin:0;
    
}




span{
    color:var(---main-color);
    font-weight: 800;
}



@media(max-width:878px){
    .slider figure img{
    
        height:67vh;
    
        
    }

    .slider:before{
        height: 67vh;
    }

    .slider figure p{
       
       background-color: none;
        font-size: 1rem;
        padding-top:150px;
        width: 80%;
        left:13%;
        border: 2px solid red;
        font-weight: bold;
        z-index: 5;
        
    }

    
    
}

/*******section2 write up***********/

.section-2{
    
    text-align: center;
    padding-bottom: 2.7rem;
    border-bottom: 5px solid white;
}

.section-2 h2{

    padding-bottom: 1.7rem;
}

 
/************FOOTER*****************/


.footer-2 *{
    display: block;
    margin-left: 4rem;
}
.footer-2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 4rem;
    border-top:5px solid rgb(39, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    

}

/********************our offers  page****************/
.room-body{
    background-color: rgb(139, 146, 152);
    ;text-align: center;
}

.room-1{
    
    margin-top: 2rem;
}

.room-body h1{
    
    color: var(---main-color);
    
}


.room-specs{
    margin: 2rem 15%;

    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-weight: bold;
    color:rgb(215, 222, 228) ;

}

.room-specs ul{
    text-align: left;
}

.room-img{
   
    
    width: 100%;
    height: 60vh;
    margin: 2rem auto;
    

}

.room-img img{
    width:100%;
    height: 100%;

}

.next-buttons{
    height: 4rem;
    align-items: center;
    display: flex;
    justify-content: center;

}

.next-buttons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem
}

.next-buttons ul li{
    padding: 1px 4px;
    background-color: rgb(235, 231, 231);;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
}




   
    .next-buttons ul li{
        font-size: 12px;
    }
    
    


  /*******compare*****/

  
 

.container {
    
    background-color: #777;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}




.comparison-table h2{
    padding: 1.5rem .1rem;
    text-align: center;
    color: brown;
}

.comparison-table {
    padding-top: 6.5rem;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/**comfirmation page***/


.confirmation-container {
    max-width: 80%;
    margin: 2rem 30rem;
    padding: 20px;
    background-color: (#817c7c, 203, 203);
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.form-container {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    
}

.searchh{
    padding-top: 6rem;
    margin: 0 5rem;

}
.searchh input{
    border: 2px solid black;
}












  
  
 



